@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: ADLIBN,Lato,Roboto;
    src: url(/ADLIBN/ADLIBN.TTF);
 }

 @media screen and (max-width: 750px) {
   
   .img2{
    width: 100%;
      }
      ul{
        display: none;
     }
}


html{
    scroll-behavior: smooth;
   
     
}

#menu{
    color: #ffffff;
    background-color: #fff467;
    float:right;
    width: 3rem;
    margin-right: 1%;
    border-radius: 15%;
 }
 
  #menu:hover{
    background-color: #ffffff;
    color: #fff467;
   
    cursor: pointer;
  }

  li{
    display: inline-block;
    
     list-style: none;
     gap: 10rem;
     transition: .5s ease-in-out;
     
    
  }
  
  
 
 nav a:hover::after{
    width: 100%;
    background-color: #fff467;
    text-decoration-color: #0f1523;
 }
 a{
    text-decoration: none;
    color: #fff467;
    transition: .5s ease-in-out;
    
 }
nav{
    font-size: large;
    background-color: #4c0068;
    border: solid #20232a;
    color: #fff467;
    font-family: Lato,ADLIBN;
   
    letter-spacing: 15px;
   
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position:  sticky; /* Este é o sufixo correto */
    top: 0;
}
nav a::after{
   content: '';
   width: 0%;
   height: 1px;
  
   position: absolute;
   bottom:  0;
   left: 0;
  transition: 0.5s;

}

nav a:hover::after{
   width: 100%;
   background-color: #fff467;
   text-decoration-color: #0f1523;
}
  


 input,textarea{
     border-radius: 0.5rem;
       margin-top: 0%;
        width: 70%;
        height: auto;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.125rem;
        font-family: Lato,ADLIBN;
        color: #4c0068;
       
        

 }
  
 
  
input:hover{
    background-color: #4c0068;
    color: white;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    box-shadow: 0px 5px 10px #e9e4e7;
}
input:active{
    background-color: #ffa800;
    color: white;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
}
input::before{
   
    background-color: #ffa800;
    font-size: x-large;
  
}
.iconesr{
    text-align:center ;
    color: #ffa800;
}

.iconers2{
    text-align:center ;
    color: white;
}

 
.fundo {
    background-color:#f2e7c8;
  
   
  

}
.fundo-roo{
    background-color: #4c0068;
   
    
    
   
}
.fundo-roo2{
    background-color: #4c0068;
    opacity : 0.9 ;
    
   
}


.img{
    width:35%;
    
    gap: 1rem;
   

    
}
.img2{
    width:80%;
  
    gap: 1rem;
  

    
}
 .img3{
    width:100%;
  
    gap: 1rem;
 }
.img3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
h1{
    font-family:ADLIBN,Lato,Roboto;
    font-size: medium;
    color: white;
    text-align: center;
    
    padding-top: 20%;
    


}
.titulo-principal{
   
    animation: text-animation 1.5s ease-in-out infinite alternate;
}
@keyframes text-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
   
    100% {
        transform: translateY(0);
    }
}
h2{
    font-family: Roboto,ADLIBN;
    font-size:small;
    color: #4c0068;
}

h3{
    font-family: Roboto,ADLIBN;
    font-size: medium;
    color: white;
    text-align: center;
    padding-top: 2%;

}
p{
    font-family: Roboto,ADLIBN;
    font-size: large;
    color: white;
    text-align: center;
    padding-top: 2%;
    cursor: pointer;
  
   

}
p:hover{
   background-color: #4c0068; 
    text-decoration: none;
    font-size: x-large;
    transition: 800ms linear;
    text-transform: uppercase;

    
   

    
}

.fundo2{
    
    text-align: left;
    background: url("/img/wmariele.jpg");
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    
    
   
    
}



details{
    font-family: Roboto,ADLIBN;
    font-size: large;
    color: white;
    text-align: center;
    padding-top: 2%;
}
details:hover{
   
    text-decoration: none;
    font-size: 1.5rem;
    
}
body{
    
    background-color:#ffa800;
    text-align: left;
    background: url("/img/bg-header-psol-sv.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    
  }

  
 .center {
   
    text-align:center ;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  
  }
  /*=====  End of Tipywriter effect  ======*/
/*=============================================
=            Scrollbar Styles            =
=============================================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Background */
  ::-webkit-scrollbar-track {
    background-color: #f2e7c8;
  }
  
  /* Scroll bar handle */
  ::-webkit-scrollbar-thumb {
    background: #f2e7c8;
    background: linear-gradient(170deg, #4c0068 8%, #e9cb8e 73%, #f2e7c8 100%);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  /*=====  End of Scrollbar Styles  ======*/