@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: ADLIBN,Lato,Roboto;
    src: url(/ADLIBN/ADLIBN.TTF);
 }

@media screen and (max-width: 360px)  {
    .menu{
        font-family: Lato,ADLIBN;
    font-size:1.125rem;
    color: #f2e7c8;
    width: 100%;
    }
    .carousel-inner img {
        width: 80%;
       
      }
    
}


html{
    scroll-behavior: smooth;
   
     
}
 nav ul{
     display: flex;
     gap: 1rem;
     align-items: center;
     
   
 }
 




 a:hover {
    background-color: #f2e7c8;
    
  } 
  

.menu {
    font-family: Lato,ADLIBN;
    font-size:1.125rem;
    color: #f2e7c8;
   
    transition-property: background-color,border-radius;;
    transition-duration: 2.7s;
   
    
}


.iconesr{
    text-align:center ;
    color: #ffa800;
}
 
.fundo {
    background-color:#f2e7c8;
  
   
  

}
.fundo-roo{
    background-color: #4c0068;
    
    
   
}
.fundo-roo2{
    background-color: #4c0068;
    opacity : 0.9 ;
    
   
}


.img{
    width:35%;
    display: flex;
    gap: 1rem;
   

    
}
.carousel-inner img {
    width: 75%;
   
  }


h1{
    font-family:ADLIBN,Lato,Roboto;
    font-size: medium;
    color: white;
    text-align: center;
    
    padding-top: 20%;

}
h2{
    font-family: Roboto,ADLIBN;
    font-size:small;
    color: #4c0068;
}

h3{
    font-family: Roboto,ADLIBN;
    font-size: medium;
    color: white;
    text-align: center;
    padding-top: 2%;

}

.fundo2{
    
    text-align: left;
    background: url("/img/wmariele.jpg")no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    
    
   
    
}



body{
    
    background-color:#ffa800;
    text-align: left;
    background: url("/img/bg-header-psol-sv.jpg")no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    
  }

  
 .center {
   
    text-align:center ;
    justify-content: center;
    align-items: center;
  
  }
  /*=====  End of Tipywriter effect  ======*/
/*=============================================
=            Scrollbar Styles            =
=============================================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Background */
  ::-webkit-scrollbar-track {
    background-color: #f2e7c8;
  }
  
  /* Scroll bar handle */
  ::-webkit-scrollbar-thumb {
    background: #f2e7c8;
    background: linear-gradient(170deg, #4c0068 8%, #e9cb8e 73%, #f2e7c8 100%);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  /*=====  End of Scrollbar Styles  ======*/